body{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    gap:50px;
    background-attachment: fixed;
}

#upside{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 99.8%;
    background-color: #cd0000;
    border: 2px solid #1d1e22;
}

#agrailleImg{
    position: relative;
    flex-shrink: 50;
    width: 16%;
    height: inherit;
}

#squareSign{
    border: 2px solid #1d1e22;
    width:25%;
    border-radius: 10px;
    background-color: #b90000;

    display: flex;
    flex-direction:column;
    font-family: consolas;
    padding-left: 2%;
    padding-right: 2%;
    gap:10px;
    font-size: 120%;
    align-content: space-between;
}

#main{
    flex:0;
    text-align:center;
    font-size: 166%;
    letter-spacing: 1px;
    font-weight: bold;
    color:white;
    text-shadow: 2px 0 0 #1d1e22, -2px 0 0 #1d1e22, 0 2px 0 #1d1e22, 0 -2px 0 #1d1e22, 1px 1px #1d1e22, -1px -1px #1d1e22

}

#form{
    display:flex;
    flex-direction:column;
    font-family: consolas;
    padding-left: 2%;
    padding-right: 2%;
    gap: 3px;
    font-size: 120%;
    align-content: space-between;
}


/* FORM CSS */


#labelPseudo{
    flex:0;
    letter-spacing: 1px;
    font-weight: bold;
    color:white;
    text-shadow: 2px 0 0 #1d1e22, -2px 0 0 #1d1e22, 0 2px 0 #1d1e22, 0 -2px 0 #1d1e22, 1px 1px #1d1e22, -1px -1px #1d1e22
}

#pseudo{
    flex:1;
    outline:none;
    border-radius: 4px;
    background-color: #ad2e2e;
    border:1px solid #1d1e22;
    padding:3%;
    letter-spacing: 1px;
    font-weight: bold;
    color:white;
}

#labelPass{
    flex:2;
    letter-spacing: 1px;
    font-weight: bold;
    color:white;
    text-shadow: 2px 0 0 #1d1e22, -2px 0 0 #1d1e22, 0 2px 0 #1d1e22, 0 -2px 0 #1d1e22, 1px 1px #1d1e22, -1px -1px #1d1e22
}

#password{
    flex:3;
    outline:none;
    border-radius: 4px;
    background-color: #ad2e2e;
    border:1px solid #1d1e22;
    padding:3%;
    letter-spacing: 1px;
    font-weight: bold;
    color:white;
}

#login{
    flex:4;
    padding-top:3%;
    padding-bottom: 3%;
    background-color: #cd0000;
    border:2px solid #1d1e22;
    border-radius: 3px;
    width:50%;
    margin-left: 24%;
    margin-top: 8%;
    outline:none;
    cursor:pointer;
}

#login:hover{
    animation: 1s linear txtBtoR forwards;
    transition: transform 1s;
    transform: scale(1.2,1.2);
}

#or{
    text-align: center;
    flex:5;
    letter-spacing: 1px;
    font-weight: bold;
    color:white;
    text-shadow: 2px 0 0 #1d1e22, -2px 0 0 #1d1e22, 0 2px 0 #1d1e22, 0 -2px 0 #1d1e22, 1px 1px #1d1e22, -1px -1px #1d1e22;
    margin:0;
    outline:none;
}

#signin{
    flex:6;
    padding-top:3%;
    padding-bottom: 3%;
    background-color: #cd0000;
    border:2px solid #1d1e22;
    border-radius: 3px;
    width:50%;
    margin-left: 24%;
    margin-bottom: 0;
    outline:none;
    cursor:pointer;
}

#signin:hover{
    animation: 1s linear txtBtoR forwards;
    transition: transform 1s;
    transform: scale(1.2,1.2);
}



/* ANIMATION */


@keyframes txtBtoR
{
    0%{
        color:#1d1e22;
        background-color:#9A1818;
    }
    10%{
        color:#9A1818;
    }
    100%{
        color:#9A1818;
        background-color:#1d1e22;
    }
}