  .flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h2 {
    position: relative;
    text-align: center;
  }

  p {
    margin-top: 16px;
    height: 50px;
    width: 60px;
  }

  .margFiltre {
    margin-top: 200px;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .filtre {
    display: flex;
    align-items: center;
  }

  .margFiltreTitre {
    margin-top: 50px;
  }

  .filtreTexteIcons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
  }

  .filtreTexteIcons:hover > .filtreTexte {
    color: #0065fc;
  }

  .filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065fc;
  }

  .filtreTexte {
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0 25px 25px 0;
  }

  .filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 53px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
  }