/****************/
/**
z Q11***MAIN*****/
/****************/


main {
  grid-area: article; 
  /* display: grid;
  grid-template-rows: 1px 1fr;
  grid-template-areas:
      "Titre"
      "cartes"; */
  background-color: #9A1818;
  border: black solid 2px;       width: 100%;
}

#main{
  display: grid;
  grid-area: cartes;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 54px;
  height: 100%;
  background-color: #9A1818;  
}

#card {
  width: 40%;
}

.card-deck {
  gap: 43px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

#img_card{
  width: 100%;
  height: 240px;
}

.card {
  width: 350px;
}