#image_plat img {
    width: 70%;
}

h2 {
    text-align: center;
}

p, h1, h2, label{
    color:white;
    text-shadow: 2px 0 0 #1d1e22, -2px 0 0 #1d1e22, 0 2px 0 #1d1e22, 0 -2px 0 #1d1e22, 1px 1px #1d1e22, -1px -1px #1d1e22;
}

#image_plat img {
    width: 75%;
}

#image_plat p {
    width: 50%;
    text-align: center;
}

#image_plat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:13px;
    width: 100%;
}

#recette_info {
    width: 50%;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:25px;
}

#ingredient {
    border-bottom: solid;
    width: 50%;
    text-align: center;
}

#wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#etape {
    border-bottom: solid;
    width: 50%;
    text-align: center;
}

#espace_commentaire form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#tps_realisation{
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: solid;
    width: 100%;
    font-size: 20px;
}
#tps_realisation label{
    font-size: calc(1.325rem + .9vw);
}

#note{
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: solid;
    width: 100%;
    font-size: 20px;
}

#note1{
    font-size: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: solid;
    width: 100%;
}

#note1 label{
    font-size:calc(1.325rem + .9vw);
}

#methode_cuisson{
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: solid;
    width: 100%;
    font-size: 20px;
}

#methode_cuisson label{
    font-size: calc(1.325rem + .9vw);
}

#difficulte{
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: solid;
    width: 100%;
    font-size: 20px;
}

#difficulte label{
    font-size: calc(1.325rem + .9vw);
}

.stars {
    display: flex;
    justify-content: center;
}

#sub_com, #sub_note {
    width: 150px;
    height: 40px;
    background: #1d1e22;
    color: #9A1818;
    font-weight: bold;
}

#form_com {
    
}