h1 {
    text-align: center;
}

#etape {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recette_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

span {
    border: 1px solid black;
    width: 30%;
    background-color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#etape_button{
    cursor: pointer;
}

p {
    margin: 0px;
}